@import url('https://fonts.googleapis.com/css?family=Roboto&family=Ewert&display=swap');
body{
    font-family: var(Roboto);
    max-width: 300 px;
    padding: 20 px;
}
:root{
    --primary-color: #d45f00;
    --secondary-color:#FF8801;
    --accent1-color:#FF950B;
    --accent2-color:#FFAD1F;
    
    --heading-font: 'Ewert',serif;
    --paragraph-font:'Roboto',serif;

    --nav-background-color:#df8032;
    --nav-link-color:#0613cefd;
    --nav-hover-link-color:#e23838fb;
    --nav-hover-background-color:#1114c500;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);


}


.hero{
    position: relative;
    text-align: center;
}
.hero img{
    width: 100%;
    height: 60%;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
article{
    position: absolute; /* Position container2 absolutely */
    bottom: 20%; /* Position from the bottom of the parent container */
    left: 0; /* Position from the left of the parent container */
    margin-top: 50px; /* Adjust the margin-top if necessary */
    background-color: rgba(54, 72, 124, 0.466);
    padding: 20px;
    color: var(--text-color);
  }
article img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
}
section {
    margin-top: 50px;
}
section h2 {
    margin-bottom: 20px;
}
section img {
    width: 50%;
    margin-bottom: 20px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer a img {
    width: 30px;
    margin: 0 10px;
}


